@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";


@theme{
    --font-inconsolata : "inconsolata",monospace;
}
 /* font-family: "Inconsolata", monospace; */


 .custom{
    background: linear-gradient(red,blue);
    background-clip: text;
    color: transparent;
 }

 .forcast::-webkit-scrollbar{
    display: none;
 }

 .movie::-webkit-scrollbar{
   display:none;
 }

 .loading{
   animation: loading 2s  ease-in-out 0s infinite forwards;
 }

 @keyframes loading {
     0%{
    opacity: 1;
  }
  50%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
 }